@charset "UTF-8";

body {
    background-color: white;
}

.text_wrap h1{
    margin-top:10%;
    position:relative;
    margin-left:10%;
    animation:SlideIn 4s;
    margin-right:10%;
    font-size:50px;
}
@keyframes SlideIn{
    0%{
        opacity:0;
        transform:translateY(20%);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}
.text{
    color:#333333
}
.text_wrap p{
    position:relative;
    margin-left:10%;
    animation:SlideIn 4s;
    margin-right:10%;
}


.photo_container img{
    width:80%;
    margin-top:20%;
    margin-left:10%;
}


.photo_container h3{
    margin-left:10%;
    font-weight:lighter;
    color:#666666
    margin-right:10%;
}
.photo_container h2{
    margin-left:10%;
    font-weight: bold;
    color:#333333
    margin-right:10%;
}
.photo_container p{
    margin-left:10%;
    color:#333333
    margin-right:10%;
}
#last{
    margin-bottom:20%;
}